* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #ABB2B9;
}

.container {
  width: 1100px;
  background: white;
  margin: 10px auto;
}

.superior {
  background: #2A363B;
  overflow: hidden;
}

.logo {
  float: left;
  padding: 5px;
  margin-top: 5px;

}
/*Estilos para el menú de opciones*/
.menu {
  float: left;
  padding: 40px;
  margin-left: 120px;
}

.opciones li {
  float: left;
  list-style: none;
}

.opciones li a {
  color: white;
  padding: 20px;
  text-decoration: none;
}

.opciones li a:hover {
  background: #99B898;
}

.slider {
  height: 100px;
}

h1 {
  color: #FF847C;
  text-align: center;
  font-size: 35px;
  margin: 20px;
  text-shadow: 1px 1px 2px black;
}
/*Estilos para el cuerpo*/
.cuerpo {
  overflow: hidden;
  background: #2A363B;
}

.caja {
  float: left;
  width: 340px;
  margin: 12px;
}

.subtitulo {
  background: #2A363B;
}

.servicios {
  color: black;
  border: 1px solid black;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-size: 25px;
  text-align: center;
  background: #99B898;
  padding: 8px 0;
}

.efecto:hover {
  opacity: 0.8;
  cursor: pointer;
}

.contenido {
  border: 1px solid black;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  height: 80px;
  background: #EAFFE9;
  padding: 10px;
  text-align: justify;
}

.boton {
  padding: 10px;
  margin: 12px 0;
  background-color: #99B898;
  border-radius: 5px;
}

.boton:hover {
  background-color: #738C72;
}

/*Estilos para el pie*/
.pie {
  background: #2A363B;
  overflow: hidden;
}

.izquierdo {
  float: left;
  width: 300px;
  padding: 20px;
}

.derecho {
  float: left;
  width: 700px;
  padding: 20px;
}

.abajo {
  color: white;
  font-size: 11px;
  padding: 8px;
}

.siguenos {
  color: white;
  text-align: center;
  padding: 15px 0;
}
